---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endfor %}
      <a href="{{ itunes.url }}">iTunes</a>
    </div>
</header>



<main class="content" role="main">

    <!-- <h5 class="index-headline normal"><span>Regular</span></h5> -->
    <article>
      <div class="center">
      <!-- <p> -->
      <h2 class="post-title"><a>Quickly and easily view your Capacity</a></h2>
      <!-- </p> -->
      <div>
      <section class="post-excerpt">
        <ul class="hitpoints">
          <li>View Totals, Available and Used Capacity </li>
          <li>Quickly access usage from the Today view</li>
          <li>Donut Graph for available/used capacity</li>
          <li>Line Graph to view usage display over time</li>
        </ul>
        <img class="screenshot" data-retina="assets/images/screenshot_main.png" width="240" height="426" src="assets/images/screenshot_main.png">
        <img class="screenshot" data-retina="assets/images/screenshot_today.png" width="240" height="426" src="assets/images/screenshot_today.png">
      </section>

    </article>
</main>
